h3 {
	font-size: 25px;
	text-align: center;
	width: 50%;
	/* 	margin: 10px; */
	margin: 10px auto;
}

h6 {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 0px;
	font-weight: normal;
}

sup {
	color: red;
	font-size: 16px;
}

.upload-user {
	display: none;
}

#check:checked ~.upload-user, #check:checked ~.login-active {
	display: inherit;
}

#check:checked ~.load-file, #check:checked ~.login-active {
	display: none;
}

.add_mentor_button {
	width: 55%;
	text-align: right;
	float: left;
}

.delete-group-button, .delete-mentor-button, .delete-trainer-button {
	margin: 3px;
	text-align: right;
	display: table-cell;
}

.delete-group-button-configPage {
	margin: 3px;
	padding: 3px;
	display: table-cell;
}

#clearing-data-message {
	font-size: 20px;
	width: 70%;
	display: table-cell;
	line-height: 37px;
}

.mentor_list {
	font-size: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 40%;
	text-align: left;
}

.add_mentor_button, .mentor_list {
	display: inline-block;
}

.form_wrapper table {
	width: 550px;
}

.form_add_new_user label {
	display: block;
	padding: 5px 30px 0px 30px;
	margin: 5px 0px 0px 0px;
}

.add_new_group input[type="text"], input[type="password"], input[type="email"],
	.edit_new_group input[type="text"] {
	border: solid 1px #E5E5E5;
	margin: 5px 30px 0px 30px;
	padding: 9px;
	display: block;
	font-size: 16px;
	width: 80%;
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
		color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.add-form-group, .edit-form-group {
	display: flex;
	width: 100%;
}
.add-form-group{
	display: none;
}
.quarter-duration {
	display: flex;
	width: 97%;
	float: left;
	height: 50px;
}

.quarter-duration_select {
	width: 45%;
}

.quarter-duration_current {
	float: left;
	width: 40%;
	line-height: 39px;
	margin-left: 5px;
	font-size: 20px;
}

.add-modul, .edit-module {
	width: 100%;
	display: flex;
	width: 97%;
	float: left;
}

.delete-module-button {
	margin: 10px;
}

.add-fild {
	width: 70%;
}

.add-duration {
	margin: 0px 5px 0px 5px;
}

.add-fild input[type='text'] {
	width: 100%;
	float: left;
}

.quarter-duration_current {
	float: left;
	width: 40%;
	line-height: 50px;
	/* 	text-align: center; */
	margin-left: 5px;
	font-size: 18px;
}

.add_new_group, .upload-user, .edit_new_group {
	width: 30%;
	margin: 0;
}

span {
	display: inline-block;
	width: 50px;
}

.add-modules {
	width: 68%;
	float: right;
}

.selector-mentor select {
	width: 85%;
	margin: 5px 30px 0px 30px;
}

.form-moduls {
	width: 100%;
	display: flex;
	float: right;
}

.form-moduls_vacation {
	width: 30%;
	text-align: center;
}

.form-moduls_vacation div {
	text-align: justify;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
}

.form-moduls_vacation label {
	width: 90px;
}

.form-moduls_choice-modul {
	width: 50%;
}

.form-moduls_count-modules {
	width: 25%;
	height: 200px;
	position: relative;
	float: right;
}

#add-group-button {
	position: absolute;
	top: 75%;
	right: 0%;
}

#cancel-edit {
	position: absolute;
	top: 100%;
	right: 0%;
}

#deleteGroupWithAddGroup {
	position: absolute;
	top: 125%;
	right: 0%;
}

#add-mentor-button, #add-trainer-button {
	float: right;
	margin: 15px;
}

#count-moduls {
	margin: 5px;
	font-size: 18px;
}

.table-groups {
	margin: 0;
	padding: 0;
	/* 	display: inline-table; */
	width: 100%;
	float: left;
}

.show-button, .delete-button {
	width: 10%;
}

.form-group-curator {
	width: 100%;
}

/* #deleteGroup, #deleteMentorList { */
/* 	margin: 0px; */
/* } */
#hide {
	float: right;
	position: absolute;
	top: 100%;
	right: 0%;
}

div.location {
	display: inline-block;
	width: 45%;
	margin: 5px 8px 10px 0px;
}

.location select, .segment select {
	width: 100%;
}

.modul-location div.location, .modul-location div.location-office,
	.modul-location div.segment {
	display: inline-block;
	width: 20%;
	margin: 5px 0px 10px 0px;
}

.modul-location div.segment {
	display: none;
}

.location-office select, .location-office input {
	width: 100%;
}

.delete-office-button, .add-office-button, .add-office-submit,
	.add-office-cancel {
	display: inline-block;
	width: 140px;
	margin: 5px 0px 10px 0px;
	text-align: center;
}

.add-office-submit, .add-office-cancel {
	display: none;
}

.form-moduls_all {
	width: 35%;
	height: 100%;
	overflow: auto;
}

.config-modul input {
	width: 100%;
}

table {
	margin-top: 5px;
	padding: 0;
	width: 100%;
}

table, th, td {
	/* border: 1px solid black; */
	/* 	display: table-cell; */
	font-style: normal;
	padding: 0;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: .5em;
	margin-bottom: 0;
	word-break: break-all;
}

table.config-modul {
	width: 60%
}

table .duration, .config-modul .delete {
	width: 10%;
}

td.form-moduls-table-head {
	width: 100%;
	text-align: center;
}

td.form-moduls-table-body {
	width: 100%;
	overflow: auto;
}

th {
	background: #c0c0c0;
}

th.check {
	width: 2%;
}

th.name {
	width: 16.5%;
}

th.modul {
	width: 8%;
}

th.vacation {
	width: 8%;
}

th.office {
	width: 8%;
}

th.edit, th.delete {
	width: 4%;
}

.ms-container {
	width: 100% !important;
}

.ms-container .ms-list {
	height: 235px !important;
}

.form_add_new_user .bottom {
	margin-top: 2px;
	clear: both;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

.form_add_new_user .bottom a {
	display: block;
	clear: both;
	padding: 10px 700px;
	text-align: right;
	color: #ffa800;
	text-shadow: 1px 1px 1px #000;
}

input[type="button"], input[type="submit"], input[type="reset"] {
  width: 140px;
  /* background: #d2d2df; */
  /* border: 1px solid #ccc; */
  /* color: #333; */
  /* font-family: "Trebuchet MS", "Myriad Pro", sans-serif; */
  /* font-size: 14px; */
  font-weight: bold;
  /* padding: 8px 0 9px; */
  /* width: 140px; */
  cursor: pointer;
  -moz-border-radius: 3px;
  -moz-border-radius: 0;
  border-radius: 5px;
  /* -webkit-box-shadow: 1px 2px 3px #9cd6c6; */
  -moz-box-shadow: 1px 5px 5px #9cd6c6;
  /* box-shadow: 1px 2px 2px #99CCFF; */
  font-family: Georgia;
  color: #001757;
  /* font-size: 16px; */
  background: #DCD7FC;
  padding: 10px 20px 10px 20px;
  border: solid #FDFDFD 1px;
  /* text-decoration: none; */
    text-align: center;
}

input[type="submit"]#addModule,input[type="button"]#addOffice,.bottom input[type="submit"],.add-group-show input[type="button"],input[type="submit"]#show,#add-group-button{
	background: #CCF7BA;
}
input[type="submit"]#deleteModule,input[type="submit"]#deleteOffice,.delete-mentor-button input[type="button"],.delete-trainer-button input[type="button"],#deleteGroup,#deleteGroupWithAddGroup,.bottom input[type="button"]{
	background: #F7BABA;
}

input[type="submit"]:hover#addModule,input[type="button"]:hover#addOffice,.add-group-show:hover input[type="button"]:hover,input[type="submit"]:hover#show:hover,#add-group-button:hover{
	background: #99CCFF;
}
input[type="submit"]:hover#deleteModule,input[type="submit"]:hover#deleteOffice,.delete-trainer-button:hover input[type="button"]:hover,#deleteGroup:hover,#deleteGroupWithAddGroup:hover,input[type="reset"]#hide:hover{
	background: #99CCFF;
}
input[type="reset"]#hide,input[type="submit"]#cancel-edit{
	background: #FBFCD7;
}
input[type="submit"]:hover#cancel-edit,input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover
	{
	background: #99CCFF;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}

#head-button-logout, #head-button-edit {
	width: 100px;
	padding: 5px;
}

#createScheduleButton {
	margin: 0px auto;
	display: block;
}

.add_mentor_button {
	text-align: right;
}

.logout {
	text-decoration: none;
	color: #0080ff;
	font-size: 16px;
	text-align: center;
}

.succes_message {
	text-decoration: none;
	color: #35ae0d;
	font-size: 16px;
	text-align: center;
}

.error_message {
	text-decoration: none;
	color: #ff0000;
	font-size: 16px;
	text-align: center;
}

#info-message {
	text-align: center;
	width: 50%;
	height: 20px;
	margin-left: 5px;
	display: inline-block;
}

}
.address_curator {
	margin: 15px 0px 5px 15px;
}

.header {
	font-size: 16px;
	overflow: hidden;
}

#img {
	float: left;
}

#login-data {
  display: inline-block;
  height: 65px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  top: 5px;
  float: right;
  text-align: center;
}

#tabbed_box {
	margin: 0px auto 0px auto;
	width: 300px;
}

.tabbed_box h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #ffffff;
	letter-spacing: -1px;
	margin-bottom: 10px;
}

.tabbed_box h4 small {
	color: #e3e9ec;
	font-weight: normal;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	position: relative;
	top: -4px;
	left: 6px;
	letter-spacing: 0px;
}

.tabbed_area {
	  border: 2px solid #FFFFFF;
  background-color: #99CCFF;
  padding: 8px;
  border-radius: 6px;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
}

ul.tabs li {
	list-style: none;
	display: inline;
}

ul.tabs li a {
  /* color: #ffebb5; */
  /* padding: 8px 14px 8px 14px; */
  /* text-decoration: none; */
  /* font-size: 9px; */
  /* font-family: Verdana, Arial, Helvetica, sans-serif; */
  font-weight: bold;
  /* text-transform: uppercase; */
  /* border: 1px solid #464c54; */
  /* -webkit-border-radius: 0; */
  -moz-border-radius: 0;
  /* border-radius: 0px; */
  text-shadow: 5px 2px 27px #FFFFFF;
  /* -webkit-box-shadow: 1px 5px 5px #9cd6c6; */
 
  /* box-shadow: 1px 5px 5px #99CCFF; */
  font-family: Georgia;
  color: #FFFFFF;
  font-size: 14px;
  padding: 6px 20px 7px 20px;
  /* border: solid #99CCFF 1px; */
  text-decoration: none;
}

ul.tabs li a:hover {
	text-shadow: 5px 2px 27px #99CCFF;
	border-color: #99CCFF;
}

ul.tabs li a.active {
  background-color: #ffffff;
  color: #000000;
  border-bottom: 2px solid #ffffff;
  border-radius: 5px 5px 0px 0px;
  text-shadow: 0px 1px 29px #ADD5F2;
}

.content {
	  background-color: #FFFFFF;
  height: 80vh;
  padding: 16px;
  border: 2px solid #99CCFF;
   
  
}

.content_body {
	overflow: auto;
}

.content_group, .content_mentor-group, .form_add_new_user, .content_body,
	.content_mentor_body, .content_list-new-user {
	margin: 0;
	padding: 0;
	height: 90%;
	overflow: auto;
}

.content_header {
	display: table;
	width: 100%; /*Optional*/
	table-layout: fixed; /*Optional*/
}

.add-group-show {
	display: table-cell;
}

.content_title {
	display: table-cell;
}

ul.tabs {
	  margin: 2px;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 6px;
}

.file_upload {
	/* Для того, чтобы спозиционировать input
     относительно контейнера. */
	position: relative;
	/* Скрываем неумещающуюся часть input-а. */
	overflow: hidden;
	/* Украшательство: */
	background: #eee;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	padding: 20px;
	width: 60px;
}

#top, #top-config-page, #top-mentor-content, #top-trainer-content {
	float: right;
	font-size: 40px;
	display: none;
	position: fixed;
	bottom: 100px;
	color: gray;
	right: 10%;
}

#top-config-page {
	right: 30%;
}

#top-mentor-content, #top-trainer-content {
	right: 5%;
}

#deleteModuleFixed {
	float: right;
	display: none;
	position: fixed;
	top: 26%;
	right: 30%;
}

a {
	color: #400040;
	text-decoration: none;
}

body, html {
	 background-image: url(../img/grid.png) ;
	 
	  
	 
}

body {
	top: 0;
	position: relative;
}
/*=================================================================*/
a:link {
	color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	color: orange;
}

a:focus {
	color: green;
}

a:active {
	color: red;
}

/********************************/
.bordered {
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
	background: #edfef2;;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.bordered th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 1px;
	text-align: center;
	height: 40px;
}

.bordered td {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 3px;
	text-align: left;
	font-size: 16px;
}

.bordered td.edit {
	text-align: center;
}

.bordered td.modules {
	text-align: center;
	font-size: 12px;
	color: green;
}

.bordered td.vacations {
	text-align: center;
	font-size: 12px;
	color: red;
}

.bordered td.location {
	text-align: center;
	font-size: 12px;
}

.bordered td.delete {
	text-align: center;
}

.bordered th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc),
		to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bordered td:first-child, .bordered th:first-child {
	border-left: none;
}

.bordered th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}

.bordered th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}

.bordered th:only-child {
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}
.flag-checkbox {
	display:inline-block;
	color:blue;
	width:185px;
	height:1px;
  position: relative;
  float: right;
  right: 30px;
  top: 5%;
}
.flag-checkbox, .message-flag-checkbox {
  text-align: center;
}
.periodOn{
 position: relative;
  float: right;
  top: 31px;
  color: green;
  clear:both;
}
.periodOff{
	 float: left;
  top: 30px;
  color: red;
    clear:both;
 

}
/*********************************************/

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
	vertical-align: top;
	margin: 0 3px 0 0;
	width: 17px;
	height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox+label {
	cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}

.checkbox:not(checked)+label {
	position: relative;
	/* будем позиционировать псевдочекбокс относительно label */
	padding: 0 0 0 60px;
	/* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked)+label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #E2EDFA;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked)+label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked+label:before {
	background: #C9F8D6;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked+label:after {
	left: 26px;
}
/**********************************************************/
input[type="submit"].generate {
   -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 10px;
  text-shadow: 5px 2px 27px #B4D3F4;
  /* font-family: Georgia; */
  color: #000102;
  font-size: 16px;
  background: #FFFFFF;
  padding: 10px 20px 10px 20px;
  border: solid #99CCFF 1px;
  text-decoration: none;
  position: relative;
  top: 50%;
  left: 45%;
  margin: 1px;
}

input[type="submit"].generate:hover {
	background: #99CCFF;
	text-decoration: none;
}

div.upload {
    width: 157px;
    height: 57px;
    background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
    overflow: hidden;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
.logo-epam{
	  position: absolute;
  float: left;
  font-size: 37px;
  color: white;
  font-weight: bold;
  left: 1%;
	
}
.epam{
  position: absolute;
  float: left;
  font-size: 25px;
  color: white;
  font-weight: bold;
  top: 35px;
  left: 1%;
}

.h9 {
    text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
.acces403{
   position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -9em;
  margin-left: -15em;
  background: #fff;
  border: 2px solid #FFF;
  width: 550px;
  font-size: 16px;
  -moz-box-shadow: 1px 1px 7px #ccc;
  box-shadow: 1px 1px 5px #000;
  text-align: center;
  border-radius: 5px;
}
