.form_wrapper {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -9em;
  margin-left: -15em;
  background: #fff;
  border: 2px solid #FFF;
  width: 550px;
  font-size: 16px;
  -moz-box-shadow: 1px 1px 7px #ccc;
  /* -webkit-box-shadow: 1px 1px 7px #ccc; */
  box-shadow: 1px 1px 5px #FFF;
}

.form_wrapper h3 {
	padding: 20px 30px 20px 30px;
	background-image: url(../img/grid.png) ;
	color: #fff;
	font-size: 25px;
	text-align: center;
}

.form_wrapper form {
	display: none;
	background: #fff;
}

.form_wrapper table {
	width: 550px;
}

form.active {
	display: block;
}

form.login {
	width: 550px;
}

form.register {
	width: 550px;
}

form.forgot_password {
	width: 550px;
}

.form_wrapper .column {
	width: 47%;
	float: left;
}

.form_wrapper a {
	text-decoration: none;
	color: #777;
	font-size: 12px;
}

.form_wrapper a:hover {
	color: #000;
}

.form_wrapper label {
	display: block;
	padding: 10px 30px 0px 30px;
	margin: 10px 0px 0px 0px;
}

.form_wrapper input[type="text"], .form_wrapper input[type="password"],
	.form_wrapper input[type="email"] {
	border: solid 1px #E5E5E5;
	margin: 5px 30px 0px 30px;
	padding: 9px;
	display: block;
	font-size: 16px;
	width: 76%;
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
		color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.form_wrapper input[type="text"]:focus, .form_wrapper input[type="password"]:focus
	{
	background: #feffef;
}

.form_wrapper .bottom {
	background-color: #444;
	/* 	border-top: 1px solid #ddd; */
	margin-top: 20px;
	clear: both;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

.form_wrapper .bottom a {
	display: block;
	clear: both;
	padding: 10px 700px;
	text-align: right;
	color: #ffa800;
	text-shadow: 1px 1px 1px #000;
}

.form_wrapper input[type="submit"] {
	background: #CCF7BA;
	border: 1px solid #99CCFF;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0 9px;
	text-align: center;
	width: 150px;
	cursor: pointer;
	float: right;
	margin: 15px 20px 10px 10px;
	text-shadow: 0 1px 0px #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}

.form_wrapper input[type="submit"]:hover {
	background: #99CCFF;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}
.logout{
	text-decoration: none;
	color: #0080ff;
	font-size: 16px;
	text-align: center;
}

.error_message {
	text-decoration: none;
	color: #ff0000;
	font-size: 16px;
	text-align: center;
}
label .succes_message {
	text-decoration: none;
	color: #35ae0d;
	font-size: 16px;
	text-align: center;
}

.address_curator {
	margin: 15px 0px 5px 15px;
}

body {
	  background-image: url(../img/grid.png);
	
}