/* that's our awesome styles */
* {
	box-sizing: border-box;
	font-family: "Arial";
}

.top-logo {
	height: 87px;
	text-align: center;
	padding-top: 16px;
}

.top-logo a {
	display: inline-block;
	width: 366px;
	height: 56px;
	opacity: .85;
	transition: all .4s ease;
}

.top-logo a:hover {
	opacity: 1;
}

.menu-wrapper {
	height: 58px;
	background: #6b9ad0;
	margin-bottom: 16px;
	border-bottom: 4px solid #c6defa;
}

.menu-wrapper menu {
	font-size: 0;
	text-align: center;
}

.menu-wrapper menu li {
	display: inline-block;
	font-size: 14px;
	height: 54px;
	color: white;
	position: relative;
}

.menu-wrapper menu li.active:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13px 13px 0 13px;
	border-color: #c6defa transparent transparent transparent;
	display: block;
	position: absolute;
	bottom: -13px;
	left: 50%;
	margin-left: -13px;
}

.menu-wrapper menu li.active:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 7px 0 7px;
	border-color: #6b9ad0 transparent transparent transparent;
	display: block;
	position: absolute;
	bottom: -7px;
	left: 50%;
	margin-left: -7px;
}

.menu-wrapper menu a {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	height: 100%;
	line-height: 54px;
	padding: 0 20px;
}

.menu-wrapper menu a:hover {
	background: #5e88b8;
}

.menu-wrapper menu li.active:hover:after {
	border-top-color: #5e88b8;
}

main {
	width: 960px;
	margin: 0 auto;
}

main section {
	width: 66.6%;
	float: left;
}

main aside {
	width: 33.3%;
	float: right;
	padding-left: 30px;
}

.clear {
	clear: both;
}

.clear:after, .clear:before {
	display: table;
	content: '';
}

article {
	margin-bottom: 27px;
}

article .img {
	display: block;
	width: 100%;
	opacity: .85;
	transition: all .4s ease;
}

article .img:hover {
	opacity: 1;
}

article .img img {
	display: block;
	width: 100%;
}

article h3 {
	font-size: 19px;
	color: #69747c;
	margin: 10px 0 8px;
	padding: 0;
}

article .article-info {
	border-top: 1px solid #e2e5e8;
	border-bottom: 1px solid #e2e5e8;
	height: 40px;
}

article .article-info-date, article .article-info-author {
	height: 38px;
	line-height: 38px;
	color: #69747c;
	float: left;
	margin-right: 20px;
	font-size: 13px;
}

article .fa {
	padding: 0 4px;
}

article .article-social {
	margin: 7px 0 0;
	padding: 0;
	float: right;
}

article .article-social li {
	list-style: none;
	background: #d1dae3;
	height: 24px;
	color: white;
	border-radius: 4px;
	display: inline-block;
	transition: all .4s ease;
}

article .article-social .counter {
	font-size: 14px;
	line-height: 24px;
	padding-right: 6px;
}

article .article-social a {
	text-decoration: none;
	color: inherit;
}

article .article-social li:hover {
	background: #b9c1c9;
}

article p {
	font-size: 13px;
	color: #69747c;
	text-align: justify;
	line-height: 18px;
}

aside h3 {
	margin: 0;
	padding: 0;
	border-bottom: 5px solid #6794b7;
	color: #6794b7;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 43px;
	position: relative;
}

aside h3:before {
	content: '?';
	display: block;
	height: 21px;
	width: 30px;
	background: #6794b7;
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 26px;
	text-align: center;
}

aside h3.alert:before {
	content: '!';
}

aside p {
	text-align: justify;
	color: #69747c;
	font-size: 13px;
	line-height: 18px;
}

.tag-cloud {
	margin: 0;
	padding: 0;
}

.tag-cloud li {
	height: 18px;
	background: #6794b7;
	color: white;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding: 0;
	display: inline-block;
	padding: 0 20px 0 14px;
	margin: 0 8px 6px 0;
	position: relative;
	transition: background .4s ease;
}

.tag-cloud li:hover {
	background: #59809e;
}

.tag-cloud li:before {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 0 9px 9px;
	border-color: transparent transparent transparent #6794b7;
	position: absolute;
	right: -9px;
	top: 0;
	content: '';
	display: block;
	transition: border .4s ease;
}

.tag-cloud li:hover:before {
	border-left-color: #59809e;
}

.tag-cloud li:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	margin-top: -4px;
}

.tag-cloud li a {
	color: inherit;
	text-decoration: none;
}

.fixed .menu-wrapper {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

.fixed .top-logo {
	padding-bottom: 134px;
}


/* ============================= TABLET ============================= */
@media screen and (max-width: 959px) {
	main aside, main section {
		float: none;
		width: 100%;
	}
	main {
		width: 100%;
	}
	main aside {
		padding: 0 60px;
	}
	aside h3.quest, aside h3.alert {
		position: absolute;
		left: 0;
		top: 87px;
		height: 58px;
		width: 43px;
		border: none;
		font-size: 0;
		border-bottom: 4px solid transparent;
		cursor: pointer;
	}
	aside h3.quest span, aside h3.alert span {
		font-size: 17px;
		height: 43px;
		transform: rotate(-90deg);
		position: absolute;
		left: 0;
		bottom: -143px;
		background: #eef4fa;
		color: #6290b4;
		line-height: 43px;
		padding: 0 18px;
		display: none;
		transform-origin: 0 0;
	}
	aside h3.alert {
		right: 0;
		left: auto;
	}
	aside h3.alert span {
		left: 0;
		bottom: -177px;
		white-space: nowrap;
	}
	aside h3.quest:before, aside h3.alert:before {
		font-size: 17px;
		width: 100%;
		height: 100%;
		line-height: 58px;
		color: #6b9ad0;
		background: rgba(255, 255, 255, 0.25);
		transition: all .4s ease;
	}
	aside h3:hover:before {
		background: rgba(255, 255, 255, 0.45);
	}
	aside p {
		display: none;
	}
	.tag-cloud {
		text-align: center;
		margin: 24px 0;
	}
	article {
		position: relative;
		padding: 0 60px;
	}
	article .article-social {
		position: absolute;
		right: 0;
		top: 0;
		margin: 0;
		width: 60px;
		text-align: right;
	}
	article .article-social li {
		margin-bottom: 8px;
		display: inline-block;
	}
	.article-social li:first-child {
		background: #3c5a98;
	}
	.article-social li:nth-child(2) {
		background: #c25234;
	}
	.fixed aside h3.quest, .fixed aside h3.alert {
		position: fixed;
		top: 0;
		z-index: 101;
	}
}